<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="css/style.css">
<title>Document</title>

</head>
<body>
<div id="one" >

</div>
<div id="two" >

</div>




<script type="text/javascript" src="js/common.js"></script>
</body>

</html>
